@font-face {
  font-family: 'Comication';

  src: url('../fonts/Comication.ttf');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comic Book';
  src: url('../fonts/comic_book/Comic_Book.otf');

  font-weight: normal;
  font-style: normal;
}
